:root{
    --font: #fcf8e8;
    --background: #d4e2d4;
    --hot-1: #ecb390;
    --hot2: #df7861;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--font);
    color: var(--hot2);
    top: 0;
   
}

#header{
    box-sizing: border-box;
    text-align: center;
    margin: 1.5em 0;
}
#main{
    position: relative;
}

.grid-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 70vh;
    width:70vh;
    display: grid;
    
    margin: 1.5em 0;
}



.grid-element{
    border:0.01em solid hsla(210, 10%, 78%, 0.47);
    
}

#clear-btn{
    font-family: monospace;
    display: inline-block;
    width: 10em;
    height: 4em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--hot2);
    color: var(--background);
    font-size: 1em;
    font-weight: 800;
    border: none;
    outline: none;
    box-shadow: 5px 5px 8px #faaf9ee5;


}
#clear-btn:hover{
    color: var(--hot2);
    background-color: var(--background);
    border: none;
    border: 2px solid gray;
}


#footer{
    margin: 1%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;


}

#footer a{
    text-decoration: none;
    color: var(--hot-1);
}